/* 渐入动画 */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 页面消失动画 */
.hide {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url('../images/background.jpg') no-repeat center center fixed;
  background-size: cover;  /* 确保背景图片覆盖整个屏幕 */
}

.error-container {
  text-align: center;
  background-color: rgba(51, 51, 51, 0.7);  /* 半透明的背景，增强可读性 */
  border-radius: 8px;
  padding: 30px 40px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.error-container h1 {
  font-size: 5em;
  color: #e74c3c;
  margin-bottom: 20px;
}

.error-container p {
  font-size: 18px;
  color: #bbb;
  margin-bottom: 20px;
  line-height: 1.5;  /* 调整行高，使文本垂直居中 */
}

a.back-btn {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}

a.back-btn:hover {
  background-color: #0056b3;
}

/* 媒体查询，适配手机 */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .error-container {
    width: 60%; /* 使容器宽度在小屏设备上适应 */
    margin: 0 5%; /* 给容器左右两边添加百分比的边距 */
    padding: 20px 30px; /* 减少内边距以适配小屏幕 */
  }

  .error-container h1 {
    font-size: 4em; /* 在小屏幕上减小字体 */
  }

  .error-container p {
    font-size: 17px; /* 在小屏幕上减小文字大小 */
  }

  a.back-btn {
    font-size: 15px; /* 缩小按钮文字 */
    padding: 8px 16px; /* 缩小按钮的内边距 */
  }
}
