.carousel {
  height: 100vh !important;
}

.carousel-item {
  top: 43vh !important;
  height: auto !important;
  width: auto !important;
}

.carousel-item img {
  height: 100vh !important;
  width: auto !important;
}
